@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: FontBlack;
  src: url(../public/font/Gilroy-Black.ttf);
}

:root {
  background-color: #eeeaea;
  padding: 10px;
}


.bg_login{
  
  background-image: url(../public/images/home/bg_home.png);
  background-repeat: no-repeat;
  background-size: 50%;

 
}

h1,h2,h3,h4,h5,h6{
  font-family: FontBlack;
  letter-spacing: 1px;
  font-size: 40px !important;
}
